main {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.7) 100%), url(../images/bg1.jpg) center;
    @include flexCenter(column);
    overflow: hidden;
}

.name {
    color: $primary1;
    font: {
        size: clamp(2rem, 10vw, 7.5rem);
        weight: 900
    };
    letter-spacing: clamp(1px, 10vw, 12px);
    margin: 0 0 clamp(5px, 2vh, 20px);
    animation: dropIn 1.2s ease;
}

.last-name {
    color: $light;
    animation: fadeIn 3.4s ease;
}

.title {
    color: rgba($light, 0.7);
    font: {
        size: clamp(1.1rem, 4vw, 4.4rem);
        weight: 300;
    }
    margin: 0;
    animation: slideIn 1.3s ease;
}

.social-links-container {
    @include flexCenter(row);
    justify-content: space-around;
    width: 80%;
    margin-top: clamp(25px, 6vw, 70px);
    animation: scaleIn 2.5s ease;

    .icon-link {
        color: rgba($primary2, 0.8);
        font-size: clamp(2rem, 10vw, 5rem);
        transition: all 0.5s ease-in-out;

        &:hover {
            color: rgba(lighten($primary2, 10%), 1);
            transform: scale(1.2);
            text-shadow: 2px 5px 3px rgba(white, 0.6);
        }
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1)
    }
}

@keyframes dropIn {
    from {
        transform: translate(0, -1000px);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translate(3000px, 0)
    }
    to {
        transform: translate(0, 0);
    }
}