$light: #F2F2F2;
$dark: #0D0D0D;

$primary1: #0460D9;
$primary2: #0367A6;
$primary3: #012840;

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}